{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}

<section id="content">

    <div class="container clearfix">
        <div class="content-wrap">
            <div class="fancy-title title-dotted-border title-center">
                    <h3>ArtesanalBoox</h3>
                </div>

                <div class="pricing-box pricing-extended bottommargin clearfix">

                    <div class="pricing-desc">
                        <div class="pricing-title">
                            <h3>Compra tu ArtesanalBoox y descubre tu nuevo estado favorito</h3>
                        </div>
                        <div class="pricing-features">
                            <ul class="clearfix">
                                <li> Mas de 6 productos por caja</li>
                                <li> Productos 100% artesanales</li>
                                <li> Genial para un regalo</li>
                                <li> Miles de Posibilidades en tus cajas</li>
                                <li> productos unicos y originales</li>
                                <li> Escoge entre tu estado favorito</li>
                                <li> Productos que apoyan la industria Mexicana</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pricing-action-area">
                        <div class="pricing-meta">
                            Una ArtesanalBoox
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&dollar;</span>700<span class="price-tenure">Por mes</span>
                        </div>
                        <div class="pricing-action">
                            <a href="#" class="button button-3d button-xlarge btn-block nomargin">Comprar</a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container clearfix">
                <h3>Suscribete para que tu ArtesanalBoox cada mes te llegue a la puerta de tu casa con productos random de los mejores artesanos de las regiones de el estado de ese mes</h3	>
                <div class="fancy-title title-dotted-border title-center">
                    <h3>Programas ArtesanalBoox</h3>
                </div>

                <div class="pricing bottommargin clearfix">

                    <div class="col-sm-4">

                        <div class="pricing-box">
                            <div class="pricing-title">
                                <h3>6 meses</h3>
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">&dollar;</span>3600<span class="price-tenure">/mx</span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li>¡6 Diferentes Estados!</li>
                                    <li>¡Mas de 30 productos!</li>
                                    <li>Productos de la Mejor Calidad.</li>
                                </ul>
                            </div>
                            <div class="pricing-action">
                                <a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color">Suscribirse</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-4">

                        <div class="pricing-box best-price">
                            <div class="pricing-title">
                                <h3>Un Mes</h3>
                                <span>¡Pruebalo!</span>
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">&dollar;</span>700<span class="price-tenure">/mx</span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li>¡Descubre la artesania tipica de un Estado!</li>
                                    <li>¡5 Artesanias de la mejor calidad del Estado!</li>
                                    <li>Encuentra desde ropa hasta Platos.</li>
                                    <li>Todo completamente Random!</li>
                                </ul>
                            </div>
                            <div class="pricing-action">
                                <a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color">Suscribirse</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-4">

                        <div class="pricing-box">
                            <div class="pricing-title">
                                <h3>12 Meses</h3>
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">&dollar;</span>6000<span class="price-tenure">/mx</span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li>¡12 Diferentes Estados!</li>
                                    <li>¡Mas de 60 productos!</li>
                                    <li>Hermosas artesanias hechas a mano.</li>
                                </ul>
                            </div>
                            <div class="pricing-action">
                                <a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color">Suscribirse</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>	

{% endblock %}
